<div class='container'>
  <div class='container-block'>
    <div class='vertical-inner'>
      <div class='hero-text'>
        ORGZR
      </div>
      <p>
        FUTURE HOME FOR SIMPLE GREATNESS
      </p>
    </div>
  </div>
</div>
